aiohappyeyeballs
aiohttp
aiosignal
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
async-timeout
attrs
babel
beautifulsoup4
bleach
blinker
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
dataclasses
debugpy
decorator
defusedxml
Django
django-cors-headers
elastic-transport
elasticsearch
exceptiongroup
executing
fake-useragent
fastjsonschema
Flask
fonttools
fqdn
frozenlist
geographiclib
geopy
googletransx
gunicorn
h11
httpcore
httpx
idna
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
mlxtend
multidict
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
overrides
packaging
pandas
pandocfilters
parso
pillow
platformdirs
prometheus_client
prompt_toolkit
psutil
psycopg2-binary
pure_eval
pycares
pycparser
Pygments
pyparsing
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
schedule
scikit-learn
scipy
Send2Trash
six
sklearn
sniffio
soupsieve
sqlparse
stack-data
terminado
threadpoolctl
tinycss2
tomli
tornado
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
yarl
